body {
  background-color: slategray;
}
.container {
  border: 1px solid #3e3737;
  width: 350px;
  height: 681px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.sky-section {
  display: block;
  border-radius: 20px;
  width: 350px;
  background-color: #8fcbf7;
}

.city-name {
  position: absolute;
  display: inline-block;
  top: 8px;
  margin-left: 15px;
  text-align: center;
  font-size: 50px;
  font-family: "Lato", sans-serif;
}
.current-conditions {
  position: absolute;
  display: block;
  list-style: none;
  top: 80px;
  padding-left: 0px !important;
  margin-left: 18px;
  margin-top: 20px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #6b7978;
}

.current-desc {
  color: black;
}

.current-speed {
  color: black;
}

.current-rain {
  color: black;
}

.current-temp {
  position: absolute;
  display: inline-block;
  font-size: 65px;
  width: 350px;
  text-align: center;
  top: 190px;
  margin-left: 10px;
  font-family: "Lato", sans-serif;
}

.unit {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -25px;
  font-family: "Lato", sans-serif;
}

.house-image {
  display: flex;
  width: 350px;
  padding-top: 100px;
}

.main-section {
  min-height: 410px;
  max-height: 410px;
  max-width: 350px;
  min-width: 350px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #869392;
}

.current-icon {
  display: block;
  position: absolute;
  top: 160px;
  height: 70px;
  margin-left: 15px;
}

.row {
  border-radius: 5px;
  background-color: rgb(133, 147, 146);
  margin-top: 60px;
  width: 350px;
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.col {
  border: 2px #7c8b8a solid;
  border-radius: 3px;
  background-color: #7c8b8a;
}

.forecast {
  list-style: none;
  padding: 0px !important;
  display: block;
  margin: 0 auto;
}

.forecast-date {
  text-align: center;
  font-family: "Lato", sans-serif;
}
.forecast-temp {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.unit-text {
  padding: 0px;
  margin-top: 3px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
}

.toggle {
  color: #8fcbf7;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.toggle:hover {
  cursor: pointer;
  color: pink;
}

form {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  padding: none;
  font-family: "Lato", sans-serif;
}

.search-bar {
  border-radius: 5px;
  height: 20px;
  padding: none;
  margin: 0px;
  margin-top: 15px;
  font-family: "Lato", sans-serif;
  border-top-color: pink;
  border-bottom-color: #8fcbf7;
  border-left-color: pink;
  border-right-color: #8fcbf7;
}

.search-button {
  display: inline-block;
  font-family: "Lato", sans-serif;
  background-color: gainsboro;
  height: 25px;
  border-radius: 3px;
  border: 1px solid;
  border-top-color: pink;
  border-bottom-color: #8fcbf7;
  border-left-color: pink;
  border-right-color: #8fcbf7;
}

.search-button:hover {
  cursor: pointer;
  background-color: silver;
}

.find-me {
  display: block;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  background-color: gainsboro;
  height: 25px;
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid;
  border-top-color: pink;
  border-bottom-color: #8fcbf7;
  border-left-color: pink;
  border-right-color: #8fcbf7;
}

.find-me:hover {
  cursor: pointer;
  background-color: silver;
}

.last-update {
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.current-d {
  color: pink;
}

.current-t {
  color: pink;
}

.my-credit {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.sns {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 13px;
}

.sns-link {
  display: inline-block;
  padding: 3px;
  padding-left: 6px;
  border-left: solid 1px black;
  padding-bottom: 0px;
  padding-top: 0px;
  font-family: "Lato", sans-serif;
  color: pink;
}

.sns-link:hover {
  cursor: pointer;
  color: #8fcbf7;
}

.app-name {
  color: #8fcbf7;
}

.my-name {
  color: #8fcbf7;
}

.sns-link:first-child {
  border-left: none;
  padding-left: 3px;
}
